.root{
  height: 60px;
  width: auto;
}

.cls_1 {
  font-size: 50px;
  filter: url(#filter);
  fill: #31010b;
  font-family: Arial;
}

.cls_1,
.cls_2 {
  text-anchor: middle;
}

.cls_2,
.cls_3 {
  font-size: 141.359px;
}

.cls_2 {
  fill: #02ab0d;
  fill: #39ff12;
}

.cls_3 {
  font-family: Cardo;
  font-weight: 700;
  text-transform: uppercase;
}

.cls_4,
.cls_8 {
  font-size: 115.657px;
}

.cls_5 {
  fill: #c10617;
}

.cls_6 {
  fill: #fafafa;
}

.cls_7 {
  font-size: 102.807px;
}

.cls_8 {
  fill: #9a0000;
}
